@import '../../Scss/utils/mixin';

.containerabout {
    padding-left: 360px;
    width: 60%;
    display: flex;
    flex-direction: column;
    @include media-max(1024px) {
        padding-left: 200px;
    }
    @include media-max(425px) {
        padding-left: 45px;
        width: 80%;
    }
}
