@import '../../Scss/utils/variable';
@import '../../Scss/utils/mixin';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    @include media-max(425px) {
        margin-right: 40px;
        margin-bottom: 10px;
    }

    .navbar__link {
        padding-right: 20px;
        text-decoration: none;
        font-size: 24px;
        color: black;
        font-family: $police;
        @include media-max(425px) {
            font-size: 16px;
        }

        .navbarlink {
            padding-top: 0px;
            gap: 10px;
        }
    }

    .selected {
        text-underline-offset: 0.3em;
        text-decoration-line: underline;
    }
}
.navlogo {
    height: 50px;
    padding: 30px;
    padding-left: 10px;
    @include media-max(425px) {
        padding-right: 20px;
        height: 35px;
    }
}
