$font-display: 'Montserrat';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .navbar__link {
        padding-right: 50px;
        text-decoration: none;
        font-size: 24px;
        color: black;
        font-family: $font-display;
    }
    .navbarlink {
        padding-top: 0px;
    }

    .selected {
        &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 90px;
            top: 75px;
            background-color: black;
        }
    }
}
.navlogo {
    height: 50px;
    padding: 30px;
    padding-left: 60px;
}
