@import '../../Scss/utils/mixin';

.containercards {
    background-color: #f6f6f6;
    border-radius: 40px;
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 200px;
    @include media-max(1024px) {
        margin-left: 80px;
        width: 80%;
    }
    @include media-max(425px) {
        margin-left: 15px;
        background-color: transparent;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    @include media-max(1024px) {
        justify-content: center;
        gap: 20px;
    }
    @include media-max(425px) {
        display: flex;
        flex-direction: column;
    }
}
.nowrap {
    white-space: nowrap;
}
