@import '../../Scss/utils/mixin';
@import '../../Scss/utils/variable';

.banner {
    display: flex;
    justify-content: center;

    .bannerimage {
        height: 250px;
        width: 80%;
        object-fit: cover;
        border-radius: 30px;
        filter: brightness(0.5);
        margin-bottom: 80px;
        box-shadow: 0px 6px 20px $shadow-banner;

        @include media-max(425px) {
            height: 125px;
            margin-bottom: 30px;
        }
    }
    .bannertitle {
        color: white;
        position: absolute;
        padding-top: 65px;
        font-size: 48px;
        font-family: 'Montserrat';
        text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000,
            1px -1px 0 #000;
        @include media-max(425px) {
            font-size: 25px;
            width: 80%;
            padding-top: 15px;
            padding-left: 45px;
            overflow-wrap: break-word;
        }
    }
}
