@import '../../Scss/utils/mixin';
@import '../../Scss/utils/variable';

.lodging {
    display: flex;
    justify-content: space-between;
    @include media-max(425px) {
        display: flex;
        flex-direction: column;
    }
}

.firstcontainer {
    display: flex;
    justify-content: space-between;
}
.containertitlelocation {
    display: flex;
    flex-direction: column;
    @include media-max(1024px) {
        max-width: 100%;
    }
    @include media-max(425px) {
        max-width: 100%;
    }
}
.titlelodge {
    margin-left: 200px;
    color: $color-theme;
    font-family: $police;
    font-size: 40px;
    @include media-max(1024px) {
        margin-left: 100px;
    }
    @include media-max(425px) {
        font-size: 20px;
        margin-left: 40px;
    }
}
.location {
    margin-left: 200px;
    font-family: $police;
    font-weight: 800;
    @include media-max(1024px) {
        margin-left: 100px;
    }
    @include media-max(425px) {
        margin-left: 40px;
    }
}

.containerprofil {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 50px;
    margin-right: 160px;
    @include media-max(425px) {
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
    }

    .profilname {
        color: $color-theme;
        font-family: $police;
        font-weight: 500;
        text-align: end;
        padding-right: 20px;
        @include media-max(425px) {
            font-size: 13px;
            max-width: 50px;
            padding-right: 15px;
            text-align: end;
        }
    }

    .profilpicture {
        border-radius: 70px;
        @include media-max(425px) {
            width: 80%;
        }
    }
}

.containerstarprofil {
    margin-top: 45px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    @include media-max(1024px) {
        margin-right: 120px;
    }
    @include media-max(425px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-right: 10px;
        margin-left: 40px;
    }

    .star {
        display: block;
    }
}
.tags {
    padding-top: 10px;
    margin-left: 200px;
    font-family: $police;
    display: flex;
    gap: 20px;
    @include media-max(1024px) {
        margin-left: 100px;
    }
    @include media-max(425px) {
        margin-left: 40px;
        display: flex;
        flex-wrap: wrap;
    }

    .tagsvalue {
        background-color: $color-theme;
        padding: 10px 30px 10px 30px;
        border-radius: 20px;
        color: white;
        font-weight: bold;
        @include media-max(425px) {
            border-radius: 10px;
            padding: 5px 10px 5px 10px;
        }
    }
}

.displayerlodge {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 190px;
    @include media-max(1024px) {
        padding-top: 30px;
        padding-left: 100px;
    }
    @include media-max(425px) {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .containerdisplay {
        width: 45%;
        @include media-max(425px) {
            width: 100%;
        }
    }
}
