@import '../../Scss/utils/mixin';
@import '../../Scss/utils/variable';

.lodging {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}

.firstcontainer {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
    }
}
.containertitlelocation {
    display: flex;
    flex-direction: column;
}
.titlelodge {
    margin-left: 200px;
    color: $color-theme;
    font-family: $police;
    font-size: 40px;
    @media screen and (max-width: 767px) {
        font-size: 20px;
        margin-left: 100px;
    }
}
.location {
    margin-left: 200px;
    font-family: $police;
    font-weight: 800;
    @media screen and (max-width: 767px) {
        margin-left: 100px;
    }
}

.containerprofil {
    display: flex;
    align-items: center;
    gap: 15px;

    .profilname {
        color: $color-theme;
        font-family: $police;
        font-weight: 500;
    }

    .profilpicture {
        border-radius: 70px;
        @media screen and (max-width: 767px) {
            width: 30%;
        }
    }
}

.containerstarprofil {
    margin-top: 45px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-right: 10px;
        margin-left: 100px;
    }

    .star {
        display: block;
    }
}
.tags {
    padding-top: 10px;
    margin-left: 200px;
    font-family: $police;
    display: flex;
    gap: 20px;
    @media screen and (max-width: 767px) {
        margin-left: 100px;
    }

    .tagsvalue {
        background-color: $color-theme;
        padding: 10px 30px 10px 30px;
        border-radius: 20px;
        color: white;
        font-weight: bold;
    }
}

.displayerlodge {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 190px;
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        padding-left: 100px;
    }
    .containerdisplay {
        width: 45%;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
}

.listequipment {
    list-style-type: none;
}
